// colors
$primary-white: #ffffff;
$primary-blue: #2bd0d0;
$text-color: #9e9aa8;
$title-color: #34313d;
$bg-color: #3a3054;
$site-bg-color: #f2f2f2;
$footer-color: #232127;
$btn-hover-color: #9ae3e3;

// fonts
$main-font-family: "Poppins", Arial, sans-serif;
$main-font-size: 1.5rem;
$main-line-height: 173%;
