.header {
  padding: 4.8rem 0 0;

  &__container {
    display: flex;
    align-items: center;
  }

  &__registration {
    display: flex;
    align-items: center;
    gap: 3.7rem;
  }

  &__link {
    transition: 0.3s;

    &:hover {
      color: $title-color;
    }
  }
}

.site__logo {
  padding-right: 4.54rem;
}

@media (max-width: 970px) {
  .header {
    padding: 4rem 0 0;

    &__container {
      width: 100%;
      justify-content: space-between;
    }

    &__navbar {
      display: none;
    }

    &__burger {
      display: block;
    }
  }
}
