.header__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 3rem;
}

.header__burger {
  display: none;
  background: none;
  cursor: pointer;
}
